<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="field">
  <label>Quantidade</label>
  <input name="quantity">
</div>
<div class="field">
  <label>Produto</label>
  <input name="product_id" type="number">
</div>
<div class="field">
  <label>Valor</label>
  <input name="price_per_unity">
</div>
<div class="field">
  <label>Vendedor</label>
  <input name="user_id" type="number">
</div>
<button>Salvar!</button>
